# Modifications to the source code should be handled by the code review team
*.java                             @MockBukkit/project-members
/.readthedocs.yml                  @MockBukkit/project-members
/jitpack.yml                       @MockBukkit/project-members
/build.gradle.kts                  @MockBukkit/project-members
/settings.gradle.kts               @MockBukkit/project-members
/gradle/                           @MockBukkit/project-members
/gradlew                           @MockBukkit/project-members
/gradlew.bat                       @MockBukkit/project-members
/gradle.properties                 @MockBukkit/project-members

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @MockBukkit/maintainers
/CONTRIBUTING.md                   @MockBukkit/maintainers
/README.md                         @MockBukkit/maintainers
/LICENSE                           @MockBukkit/maintainers

# Modifications to the logo should require be reviewed by maintainers and logo designer.
/logo.png                          @MockBukkit/maintainers

# This file is handled by Seeseemelk (admins have overwrite access anyway)
/.github/CODEOWNERS                @seeseemelk
