name: Build

on:
  push:
    branches: [ v1.17 ]
  pull_request:
    branches: [ v1.17 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Run unit tests
      run: ./gradlew test

    - name: Store Private key
      if: github.ref == 'refs/heads/v1.17' && github.repository == 'MockBukkit/MockBukkit'
      uses: DamianReeves/write-file-action@v1.0
      with:
        path: private.key
        contents: ${{ secrets.PRIV_KEY }}
        write-mode: overwrite
    - name: Publish
      if: github.ref == 'refs/heads/v1.17' && github.repository == 'MockBukkit/MockBukkit'
      env:
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        SIGN_KEY: ${{ secrets.PRIV_KEY_PASS }}
      run: |
        mkdir -p $HOME/.gnupg
        echo use-agent >> $HOME/.gnupg/gpg.conf
        echo pinentry-mode loopback >> $HOME/.gnupg/gpg.conf
        echo allow-loopback-pinentry >> $HOME/.gnupg/gpg-agent.conf
        gpg --batch --import private.key
        gpg --batch --export-secret-keys --passphrase $SIGN_KEY "Sebastiaan de Schaetzen <sebastiaan.de.schaetzen@gmail.com>" > private.gpg
        ./gradlew publishMockBukkitPublicationToRepositoryRepository -PossrhUsername=seeseemelk -PossrhPassword=$OSSRH_PASSWORD -Psigning.secretKeyRingFile=private.gpg -Psigning.keyId=${{ secrets.PRIV_KEY_ID }} -Psigning.password=$SIGN_KEY
